CAMERA_SOURCE=0
CAMERA_BACKEND=auto
CAMERA_WIDTH=2560
CAMERA_HEIGHT=1440
CAMERA_FPS=15
PROCESSING_WIDTH=1280
PROCESSING_HEIGHT=720
PROCESSING_FPS=6
RECOGNITION_MIN_QUALITY=0.55
RECOGNITION_MIN_SIMILARITY=0.45
